#logo{
  float:left;
  margin-right: 110px;}

#pizza_order , #m_pizza_order{
  border: black solid;
  border-radius: 5px}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 90% Arial, Helvetica, sans-serif;
  background: url('images/red.jpg'), no-repeat;
  background-size: cover;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3
{ font: normal 175% 'News Cycle', Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h1 {
  margin-top: 15px;
  font-size: 160%;}
h2
{ font: normal 165% 'News Cycle', Arial, sans-serif;}

h3
{ font: normal 130% 'News Cycle', Arial, sans-serif;}

#title {
float:left;}
  
span
{ color: #B1521A;
  text-shadow: none;}

a, a:hover
{ color: #000;
  background: transparent;
  font-weight: bold;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

#main, header, #menubar, #menubar1, #site_content, footer, nav, #slideshow_container, #whole
{ margin-left: auto; 
  margin-right: auto;}

#whole {
  border: 5px solid black;
  width: 1050px;
  border-radius: 20px;
  margin-top: 5px;
  background-image: url('images/paper.jpg');}

header
{ height: 150px;
  background: linear-gradient(#535353, #000);}
 
nav
{ height: 60px;}  
  
#strapline
{ width: 940px;
  height: 80px;
  text-align: center; 
  margin: 0 auto;} 
  
#welcome_slogan
{ width: 940px;
  float: left;
  height: 70px;
  padding-top: 10px;  
  margin: 0 auto;}    
  
#welcome_slogan h3
{ font: bold 300% 'News Cycle', Arial, sans-serif;
  letter-spacing: -3px;
  color: #FFF;} 
  
#menubar
{ width: 940px;
  height: 55px;
  padding-top: 10px;
  text-align: center; 
  margin: 0 auto;}

#menubar {
  border: blue;} 

  
ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;}

ul#nav li a, ul#m_nav li a
{ float: left;
  font: bold 130% 'News Cycle', Arial, sans-serif;
  height: 24px;
  margin: 8px 20px 0 0;
  text-shadow: 0px 1px 0px #000;
  padding: 0px 20px 10px 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 

ul#nav1 li a{
  color:black;
  text-decoration: none;
  font-size: 18px;
}

ul#nav1 li {
  list-style: none;
}
  
ul#nav li.current a, ul#nav li:hover a, ul#m_nav li.current a, ul#m_nav li:hover a
{ text-decoration: underline;}

  ul#nav1 li.current a, ul#nav1 li:hover a
{ color:#8B0000;}
 
ul img {
  border: none;
  color:purple;}

#site_content
{ width: 940px;
  overflow: hidden;} 

.sidebar_container
{ float: right;
  margin: 20px 0 0 10px;
  width: 240px;}

.sidebar
{ float: left;
  width: 240px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 240px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font: normal 140% 'News Cycle', Arial, sans-serif;
  height: 30px;}  

#content
{ width: 680px;
  margin: 0 0 20px 0;
  float: left;}

.content_item
{ width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_container
{ width: 330px;
  margin: 20px 10px 0 0;
  float: left;}

  
footer
{ width: 100%;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 20px;  
  font-weight: bold;
  text-align: center; 
  text-shadow: 1px 1px #000;
  color: #FFF;
  background:#8B0000;
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

footer a, footer a:hover
{ text-shadow: 1px 1px #FFF;
  color: #1D1D1D;
  text-decoration: none;
  padding-bottom: 20px;}

footer a:hover
{ text-decoration: underline;}

footer a, footer a:hover
{ text-shadow: 1px 1px #000;
  color: #FFF;
  text-decoration: none;}

footer a:hover
{ text-decoration: underline;}
  
 .readmore a
{ color: #FFF;
  text-shadow: 1px 1px #004C8C;}

.rights{color:#000;
  font-size: 10px;
  margin-left: 10px} 

.emphasize{
  color: #8b0000;
  font-size: 120%;
  font-family: 'Sigmar One';
  float: left;}

.entry, .entry1{
  font-size: 130%;
  margin-top: 15px;
  color: black;
  font-weight: bold;
}

ul.menu_list {
  list-style: none;
}

ul.drinks {
  margin: 0;
}

.menu, .menu1, .menu2{
  width: 50%;
  display: block;
  float: left;
}

.menu2 {
  text-align: center;
  margin-left: 25%;
}

#menubar ul li {
  display: inline-block;
  min-width: 20%;}

  nav {
  text-align: center;
  }

  #menubar {
    text-align: center;
  }

  #mobile {
    display: none;}

  @media(max-width: 480px) {
      #main, footer{
        display: none;
      }

      #mobile, #m_footer {
        display: block;
        overflow: hidden;
      }

      img {
        overflow: hidden;
      }

      ul#m_nav {
      list-style-type: none;
      float: left;
      margin-left: 20px;}

      ul#m_nav li a {
        text-align: center;
        margin: auto;
        margin-top: 15px;}

      ul#m_nav {
        text-align: center;
        position: absolute;
        top: 10px;
      }

      #m_para {
        position: absolute;
        right: 10px;
        top: 10px;
        margin-right: 5%;
        width: 60%;
      }

      #m_para ul {
        list-style-type: none;
      }

      #m_logo {
        float: left;
      }

      #m_content {
        background-image: url('images/paper.jpg');
        padding: 10px;
        width: 80%;
        text-align: left;
        position: absolute;
        top: 250px;
        left: 7.3%;
        margin: auto;
        border: 2px solid black;
        border-radius: 10px;
      }

      #m_content h3 {
        margin-top: 45px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
      }

      #m_pizza_order {
        margin-top: 20px;
        width: 100%;
        height: 140px;
        border: red solid 1px;
      }
      .menu_list {
        font-size: 16px;
      }
      #m_content p {
        margin: 0;
        margin-bottom: 25px;
        font-size: 16px;
        padding: 0;
        float: left;
      }

      #m_footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 25px;
        padding-top: 10px;
        border-radius: 0;
      }

      #m_footer div {
        margin-top: 3px;
      }

      #m_menubar {
        width: 35%;
      }

      #m_menu {
        margin-right: 10%;
        margin-bottom: 30px;
      }
      .menu, .menu1, .menu2{
        width: 100%;
        margin: auto;
      }
      .emphasize {
        margin-bottom: 20px;
      }

      .entry {
        text-align: center;
        margin-bottom: 20px;
      }
      #background {
        background:linear-gradient(#535353, #000);
        width: 100%;
        height: 230px;
        margin:0;
      }

      #back_image {
        width:100%;
        height: 250%;
        position: absolute;
        top: 230px;
        bottom: 0;
        background-image: url('images/red.jpg');
      }

      .nav_drinks #back_image{
        height: 150%;
      }

      .nav_veg #back_image{
        height: 240%;
      }
  }
